@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&family=Noto+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
}

.logo {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  padding-top: 28.5px;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  float: right;
  padding-top: 26.5px;
}

nav a {
  color: #000;
  font-size: 17px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#hero {
  margin-top: 90px;
}

.hero_subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 90px;
}

.hero_title {
  font-size: 100px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero_text {
  font-size: 17px;
  line-height: 1.6;
}

.hero_image {
  float: right;
  margin-right: 35px;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  align-items: center;
}

#skills {
  margin-top: 50px;
}

.skill{
  display: flex;
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
}

.skill h3 {
  margin-top: 64px;
  text-align: center;
}

.skill p {
  font-size: 18px;
  margin-top: 22px;
  text-align: center;
}

.text-gallery{
  text-align: left;
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.6;
}

.text-gallery-2{
  margin-bottom: 50px;
  word-wrap: break-word;
}

#gallery{
  margin-top: 175px;
  margin-bottom: 45px;
}

.gallery_1{
  text-align: center;
  line-height: 2;
  font-size: 35px;
  font-weight: 600;
} 
.gallery-img{
  padding-top: 40px;
  border-radius: 50px;
}

.last-img-gallery{
  width: 100%;
  height: auto;
}

.footer{
    margin-top: 55px;
    height: 350px;
    align-items: center;
  }
  
  .footer_coll_1 {
    line-height: 27px;
    float:left ;
    padding-left: 10%;
  }
  
  .footer_coll_2 {
    margin-top: 8px;
    float:right;
    margin-right: 10%;
  }
  
  .input_s{
    width: 400px;
    background-color: #f3f3f3;
    border-style: none;
    margin: 10px;
  }
  
  .input_l{
    width: 400px;
    background-color: #f3f3f3;
    border-style: none;
    margin: 10px;
  }
  
  .input_box_s{
    width: 500px;
    height: 50px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
  }
  
  .input_box_l{
    width: 500px;
    height: 215px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
  }
  
  .button{
    color: #f3f3f3;
  }
  
  .button_box{
    width: 300px;
    height: 100px;
    background-color: #2D2D2D;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

@media (min-width: 320px) and (max-width: 767px) {
  .logo {
    font-size: 32px;
    text-align: center;
  }

  nav ul {
    float: none;
    justify-content: space-between;
    padding-left: 0;
  }

  nav ul a {
    font-size: 22px;
  }

  #hero {
    margin-top: 0;
  }

  #hero h2,
  #hero h1,
  #hero p {
    text-align: center;
  }

  #hero h2 {
    margin-top: 30px;
    font-size: 25px;
  }

  #hero h1 {
    font-size: 80px;
  }

  #hero p {
    font-size: 22px;
  }

  #hero br {
    display: none;
  }

  .hero_image {
    float: none;
    width: 95%;
    margin: auto;
    display: block;
  }

  .logos {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  .logos img {
    display: block;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1279px) {}
